.fl-fade-in {
    animation: fl-fade-in 1s ease-out;
    -webkit-animation: fl-fade-in 1s ease-out;
    -moz-animation: fl-fade-in 1s ease-out;
  }
  
  @keyframes fl-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fl-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fl-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }