#fontawesome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.fa-html5{
    color: #e34f26;
}

.fa-css3-alt{
    color: #002561;
}

.fa-node-js{
    color: #44883e;
}

.fa-php{
    color: #4f5b93;
}

.fa-wordpress{
    color: #21759b;
}

.fa-code{
    color: #204056;
}

.fa-symfony{
    color: black;
}