#copyright{
    background-color: black;
    color: white;
}

footer{
    background-color:rgb(0, 0, 0);;
    color: white;
} & a{
    color: white;
} & a:hover, .fab:hover{
    transition-duration: 1s;
    color: rgb(255, 179, 16);
    cursor: pointer;
}

#mapInfo {
    display: flex;
    justify-content: space-between;
}

#mapid { 
    width: 250px;
    height: 170px;
    border: 2px solid white;
}