// ******************************
// Glitch
// ******************************


.glitch{
    text-decoration: none;
}
@keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}
.glitch:after{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow: $bord;
    color: rgb(216, 9, 71);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    height: 100%;
    width: 100%;
    animation:noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}
.glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow: $bord;
    color: rgb(216, 9, 71);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    height: 100%;
    width: 100%;
    animation:noise-anim-2 3s infinite linear alternate-reverse;
}
