#img-profil{
    display: flex;
    align-self: center;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(109, 109, 180);
    border-radius: 100%;
}

#header-div{
    margin-top: 2%;
}

.header-h{
    color: white;
}

header{
    background-image: url("../img/background11.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}