$bord: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

@mixin background() {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

#image-bg{
    background-image: url("../img/portfolio-background.jpg");
    width: 100%;
    height: 400px;
    @include background();
}

#image-bg2{
    background-image: url("../img/background12.jpg");
    width: 100%;
    height: 400px;
    @include background();
}

.image-filter{
    background-color: rgba(109, 109, 180, 0.247);
    position: absolute;
    width: 100%;
    height: 400px;
}

.list-unstyled{
    background-color: rgb(255, 255, 255);    
}

.media{
    padding: 3% 10%;
    display: flex;
    font-family: 'Bubblegum Sans', cursive;
    background-color: rgba(0, 0, 0, 0.623);
}

.img-media{
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1%;
    margin-right: 30px;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 37px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 37px 0px rgba(255, 255, 255, 0.75);
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgba(109, 109, 180, 0);
}

#about{

    background-color: #ffffff;
    border: 3px solid rgb(109, 109, 180);
}

.card-body{
    background-color: #e9ecef;
    border-top: 1px solid black;
}

.card-deck{
    padding: 0 15%;
}

.card{
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
}

.list-unstyled{
    border: 3px solid rgb(109, 109, 180);    
    // background-color: #000000;
    background-image: url('../img/road.gif');
    background-size: 100%;
}

.animatable {
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
}

ul, menu, dir {
    margin-bottom: 0;
}

.card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0;
    margin-left: 0;
}

.media-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.bord{
    text-shadow: $bord;
}

.flower {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
    text-align: center;
	font-size: 60px;
	line-height: 1;
}
.flower:after {
	content: "\273D         \273D   \273D";
	height: 0;
    color: rgb(216, 9, 71);
    text-shadow: $bord;
}

.h-projet{
    display: block;
    color: rgb(216, 9, 71);
    text-shadow: $bord;
    text-align: center;
    margin: 30px 0px;
    font-family: 'Bubblegum Sans', cursive;
}

.fancybox-iframe{
    height: 113%;
}

#contact{
    padding-left: 2rem;
    padding-right: 2rem;
}
