@media (max-width: 1060px) {
    .media{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-media{
        width: 50%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #fontawesome{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-deck .card {
        margin-bottom: 15px;
    }

    #mapInfo{
        justify-content: space-around;
    }

    .animatable{
        visibility: visible;
    }

    .animated{
        -webkit-animation-duration: 0sec;
        animation-duration: 0s;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
    }
    html {
        scroll-behavior: smooth;
    }
}

@media (max-width: 420px) {
    #contact{
        padding: 0;
    }
}