nav {
    background: rgb(65, 65, 65);
    height: 100vh;
    width: 200px;
    position: fixed;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
    border-radius: 0px 100px 100px 0px;
    z-index: 10000;
}

a{
    color: black;
}
  
nav:after {
    content: '\2261';
    color: white;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    background: rgb(65, 65, 65);
    height: 80px;
    width: 80px;
    position: absolute;
    right: -40px;
    top: 40px;
    border-radius: 50%;
}
  
nav:hover {
    transform: translateX(0px);
}

.nav-link{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-link:hover{
    color: rgb(255, 179, 16);
    background-color: rgb(36, 36, 36);
    cursor: pointer;
}

.underline:hover{
    color: rgb(255, 179, 16);
    text-decoration: underline;
    transition-duration: 1s;
}

.h-menu {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 58px 0px;
}