.neon-effect {
    font-family: "Orbitron";
    text-align:center;
    font-size:40px;
    color:#ffffff;
    /*Animation*/
    -webkit-animation: neonAnimation 1.5s ease-in-out infinite alternate;
    -moz-animation: neonAnimation 1.5s ease-in-out infinite alternate;
    animation: neonAnimation 1.5s ease-in-out infinite alternate;   
  }
  
  
  /*Webkit prefix*/
  @-webkit-keyframes neonAnimation {
      from {
        text-shadow: 0 0 10px #ffffff,
                   0 0 20px  #ffffff,
                   0 0 30px  #ffffff,
                   0 0 40px  #6f00a3,
                   0 0 70px  #6f00a3,
                   0 0 80px  #6f00a3,
                   0 0 100px #6f00a3,
                   0 0 150px #6f00a3;
      }
      to {
        text-shadow: 0 0 5px #ffffff,
                   0 0 10px #ffffff,
                   0 0 15px #ffffff,
                   0 0 20px #6f00a3,
                   0 0 35px #6f00a3,
                   0 0 40px #6f00a3,
                   0 0 50px #6f00a3,
                   0 0 75px #6f00a3;
      }
  }
        
        
  /*Moz prefix*/
  @-moz-keyframes neonAnimation {
      from {
        text-shadow: 0 0 10px #ffffff,
                   0 0 20px  #ffffff,
                   0 0 30px  #ffffff,
                   0 0 40px  #6f00a3,
                   0 0 70px  #6f00a3,
                   0 0 80px  #6f00a3,
                   0 0 100px #6f00a3,
                   0 0 150px #6f00a3;
      }
      to {
        text-shadow: 0 0 5px #ffffff,
                   0 0 10px #ffffff,
                   0 0 15px #ffffff,
                   0 0 20px #6f00a3,
                   0 0 35px #6f00a3,
                   0 0 40px #6f00a3,
                   0 0 50px #6f00a3,
                   0 0 75px #6f00a3;
      }
  }
        
  /*No prefix*/
  @keyframes neonAnimation {
      from {
        text-shadow: 0 0 10px #6f00a3,
                   0 0 20px  #ffffff,
                   0 0 30px  #ffffff,
                   0 0 40px  #6f00a3,
                   0 0 70px  #6f00a3,
                   0 0 80px  #6f00a3,
                   0 0 100px #6f00a3,
                   0 0 150px #6f00a3;
      }
      to {
        text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff,
              0 0 20px #6f00a3,
              0 0 35px #6f00a3,
              0 0 40px #6f00a3,
              0 0 50px #6f00a3,
              0 0 75px #6f00a3;
      }
  }