/*bar skills*/

@keyframes bar-fill {
    0% {
        width: 0;
    }
}

@-webkit-keyframes bar-fill {
    0% {
        width: 0;
    }
}

@-moz-keyframes bar-fill {
    0% {
        width: 0;
    }
}

@-o-keyframes bar-fill {
    0% {
        width: 0;
    }
}

@keyframes loading {
    0% {
       background-position: 100% 0;
    }
    100% {
       background-position: -100% 0;
    }
}

h4, h5{
	color: rgb(0, 0, 0);
}

.progress {
    display: flex;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgba(126, 117, 126, 0.8);
    margin-bottom: 15px;
    width: 100%;
    padding-bottom: 10px;
    height: 2px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.progress-bar-danger {
    background: rgb(51, 82, 255);
    -moz-animation: bar-fill 5s, loading 4s infinite linear;
    -webkit-animation: bar-fill 5s, loading 4s infinite linear;
    -ms-animation: bar-fill 5s, loading 4s infinite linear;
    animation: bar-fill 5s, loading 4s infinite linear;
    display: block;
    background: linear-gradient(to right, rgb(0, 53, 117) 0%, #79CBCA 51%, rgb(24, 41, 138) 100%);
    background-size: 200% auto;
    transition: 2s;
    padding-bottom: 100%;
}

#block-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#barpos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding-right: 2%;
}

#barpos2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding-left: 2%;
}

#div-prog{
    background-color: #ffffff;
    border: 3px solid rgb(109, 109, 180);
}

.entry-content{
    background-color: rgba(0, 0, 0, 0.425);
}